<!-- <nav class="nav-bar">
    <h3>ATM application</h3>
</nav>
<div class="container-flex">
    <div class="login-form">
        <pm-login></pm-login>
    </div>
    <div class="link">
        <a class="sign-up">Signup</a>
    </div>
</div> -->
<pm-header></pm-header>
<div class="container-flex">
   <div class="body">
        <p>Welcome to ATM Application</p>
        <h5>If you are a new user signup</h5>
        <h5>Existing users can sign-in to unclock the functionalities </h5>
   </div>
   <div>
        <img class="img" src="\assets\images\atm-img.png">
   </div>    
</div>
<pm-footer></pm-footer> 